@use "../presets/variables" as *;
@use "../presets/skin" as *;
@use "../mixins/mixins" as *;
@use "../mixins/mixins-media" as *;
@use "../mixins/extends" as *;

.btn {
	display: flex;
	padding: 0.5em 1em;
	border: 2px solid $color-light;
	width: 250px;
	height: $gap-x3;
	align-items: center;
	justify-content: center;
}
