@use "../../presets/variables" as *;
@use "../../presets/skin" as *;
@use "../../mixins/mixins" as *;
@use "../../mixins/mixins-media" as *;
@use "../../mixins/extends" as *;

.header__menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: $gap 0;

	@include sm {
		background-color: rgba($color-gray-dark, 0.25);
		@include box-shadow
	}

	&-container {
		@extend %container;
		display: grid;
		grid-template-columns: auto 1fr;
		gap: $gap;
		align-items: center;
	}
}