@use "../../../presets/variables" as *;
@use "../../../presets/skin" as *;
@use "../../../mixins/mixins" as *;
@use "../../../mixins/mixins-media" as *;
@use "../../../mixins/extends" as *;

.skills__item {
	position: relative;
	background-color: $color-primary;
	overflow: hidden;

	&-title {
		margin: 0;
		letter-spacing: 0.1em;

		@include sm-min {
			font-size: 1.25rem;
		}

		@include sm {
			font-size: 1.125rem;
		}
	}

	&-link {
		display: flex;
		padding: $gap;
		font-family: $font-main;
		@include abs-position;
		align-items: center;
		justify-content: center;
		z-index: 2;
		transition: color 0.3s;
	}

	&-image {
		@include abs-position;
		z-index: 1;
		background-position: 50% 50%;
		background-size: cover;
		transition: transform 0.3s;
	}

	&-overlay {
		@include abs-position;
		opacity: 0.8;
		z-index: 1;
		transition: opacity 0.3s;
	}

	&:hover,
	&:focus {
		a {
			color: $color-accent;
		}

		.skills__item-image {
			transform: scale(1.1);
		}

		.skills__item-overlay {
			opacity: 0.95;
		}
	}
}

@for $i from 1 through 9 {
	.skills__item:nth-of-type(#{$i}) {
		grid-area: a#{$i};
	}
}