$color-primary: #2d3651;
$color-accent: #d66926;
$color-highlight: #d53d27;
$color-gray: #637588;
$color-gray-light: #e5e5e5;
$color-gray-darken: #2c2c2c;
$color-gray-dark: #44596e;
$color-dark: #000000;
$color-light: #ffffff;