@use "../../presets/variables" as *;
@use "../../presets/skin" as *;
@use "../../mixins/mixins-media" as *;
@use "../../mixins/extends" as *;

.subscribe {
	background-color: $color-primary;
	padding: $gap-lg 0;

	&__container {
		@extend %container;
	}

	&__form {
		display: grid;
		gap: $gap;

		@include sm-min {
			grid-template-columns: repeat(3, 1fr);
		}
		@include sm-xs {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__item {
		&-control {
			display: block;
			width: 100%;
			padding: 0 $gap-lg;
			height: $gap-x3;
			background-color: rgba($color-light, 0.05);
			border: 2px solid transparent;
			border-bottom-color: rgba($color-light, 0.2);
			transition: border-color 0.3s, background-color 0.3s;

			&::placeholder {
				color: $color-gray;
				letter-spacing: 0.1em;

				@include md-min {
					font-size: 1.25rem;
				}
			}

			&:hover,
			&:focus {
				border-color: $color-light;
				background-color: rgba($color-light, 0.1);

				&::placeholder {
					color: rgba($color-gray-light, 0.55);
				}
			}
		}

		&-btn {
			width: 100%;
			padding: 0 $gap-lg;
			height: $gap-x3;
			background-color: rgba($color-light, 0.05);
			border: 2px solid transparent;
			border-bottom-color: rgba($color-light, 0.2);
			color: $color-light;
			letter-spacing: 0.1em;
			transition: border-color 0.3s, background-color 0.3s;

			&:hover,
			&:focus {
				border-color: $color-light;
				background-color: $color-accent;
			}

			@include md-min {
				font-size: 1.25rem;
			}
		}

		@include sm-xs {
			&:first-of-type {
				grid-column: 1/span 2;
			}
		}
	}
}